# Data cleaning and Modification

In [3]:
import pandas as pd
from datetime import date
 
df=pd.read_excel('Data.xlsx')
def age(birthdate):
    today = date.today()
    age = today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))
    return age

def replaceShortValue():
    for index, row in df.iterrows():
        df.iloc[index,4]=age(row['dateOfBirth'])
    df.loc[df['cabin_class of service'] == 'Economy Class','cabin_class of service']='Economy'
    df.loc[df['cabin_class of service'] == 'Business Class','cabin_class of service']='Business'
    
def replaceNullValue():
    df["title"].fillna("No title", inplace = True)
    df["gender"].fillna("No gender", inplace = True)
    df["Nationality"].fillna("No Nationality", inplace = True)
    df["dateOfBirth"].fillna("No dateOfBirth", inplace = True)
    df["Age"].fillna("No Age", inplace = True)
    df["miles"].fillna("No miles", inplace = True)
    df["Fligth_ID"].fillna("No Fligth_ID", inplace = True)
    df["cabin_class of service"].fillna("No cabin_class", inplace = True)
    df["Reservation Status"].fillna("No Reservation Status", inplace = True)
    df["Date_of_Reservation"].fillna("No Date_of_Reservation", inplace = True)
    df["Date_of_Cancelation"].fillna("No Date_of_Cancelation", inplace = True)
    df["Tiketed_Date"].fillna("No Tiketed_Date", inplace = True)
    df["Ticket First time Use"].fillna("No Ticket First time Use", inplace = True)
    df["Rescheduled_Date"].fillna("No Rescheduled_Date", inplace = True)
    df["Refund Status"].fillna("No Refund Status", inplace = True)

def saveModifyData():
    df.to_excel('ModfideData.xlsx')
    
def completeAllTask():
    replaceShortValue()
    replaceNullValue()
    saveModifyData()
#completeAllTask()

# Working with Modfied Data

In [57]:
mdf=pd.read_excel('ModfideData.xlsx')
# detail informaion
# mdf.describe()


# disply column specfic column
# mdf['Tiket Status ']

# mean median and mode

# mdf['Age'].mean()
# mdf['Age'].median()
# mdf['Age'].count()

# count how many ticket is used, canceld and refunded
# mdf['Tiket Status '].value_counts()
# to count the value uisng persentage
# mdf['Tiket Status '].value_counts(normalize=True)

# group tiket status and select Canceled tiket
# ticketStatus=mdf.groupby('Tiket Status ').count()
#ticketStatus

# this is the same result as above by using filtering technique
# filterCanceled=mdf['Tiket Status ']=='Canceled'
# mdf.loc[filterCanceled]

,Unnamed: 0,title,gender,Nationality,dateOfBirth,Age,miles,Fligth_ID,cabin_class of service,Reservation Status,Date_of_Reservation,Date_of_Cancelation,Tiketed_Date,Ticket First time Use,Rescheduled_Date,Refund Status
Tiket Status,,,,,,,,,,,,,,,,
Canceled,99,99,99,99,99,99,99,99,99,99,99,99,99,99,99,99
Exchanged,37,37,37,37,37,37,37,37,37,37,37,37,37,37,37,37
Not Ticketed,136,136,136,136,136,136,136,136,136,136,136,136,136,136,136,136
Refunded,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
Ticketed Used,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Tiketed Not Used,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24